// Grayscale
$WHITE: #ffffff;
$BLACK: #242424;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY5: #555555;
$GRAY6: #666666;
$GRAY7: #767676;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAYF: #fafafa;
$GRAYF5: #f5f5f5;

// Chromatic
$RED: #d43301;
$BLUE: #2663ff;
$DEEP_BLUE: #007bc3;
$SKY_BLUE: #ecf2ff;
$MUSTARD: #fbc400;
$SKY_BLUE: #69c8f2;
$PEACH: #ff7272;
$AVOCADO: #b0d740;
