@use "/src/styles/constants/colors";
@use "/src/styles/constants/sizes";
@use "/src/styles/mixins/flexbox";

.headerContainer {
  @include flexbox.flexbox {
    // gap: 50px;
  }
  padding: 0 20px;
  height: sizes.$HEADER;
  border-bottom: 3px solid colors.$DEEP_BLUE;
  min-width: 511px;

  a {
    font-size: 1em;
    color: #252525;
    padding: 0 50px;
    line-height: sizes.$HEADER;
  }

  a:hover {
    background-color: colors.$DEEP_BLUE;
    color: colors.$WHITE;
  }
}
