@use "/src/styles/constants/colors";
@use "/src/styles/mixins/flexbox";

.lottoListSection {
  @include flexbox.flexbox {
    flex-direction: column;
    gap: 20px;
  }
  padding: 60px;
  margin-top: 10px;
  border: 1px solid colors.$GRAYD;

  .title {
    font-size: 28px;
    font-weight: 300;
  }

  .desc {
    color: colors.$GRAY7;
    font-size: 14px;
    font-weight: 300;

    strong {
      color: colors.$RED;
      font-size: 30px;
      font-weight: 500;
    }
  }
  .strong2 {
    color: colors.$RED;
    font-size: 25px;
    font-weight: 400;
}
.strong3 {
    color: colors.$RED;
    font-size: 23px;
    font-weight: 300;
  }
  

  .desc2 {
    color: colors.$GRAY5;
    margin-top: 10px;
  }
}
