@use "/src/styles/constants/colors";
@use "/src/styles/mixins/flexbox";

.rootContainer {
}

.commonContainer {
  padding-top: 60px;
  max-width: 70vw;
  min-width: 400px;
  min-height: 50vh;
  margin: 0 auto;
}

.subTitle {
  font-size: 30px;
  font-weight: 100;
  height: 63px;
}
